* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.u-header .u-sheet-1 {
  min-height: 74px;
}

.u-body {
  font-size: 1rem;
  line-height: 1.6;
  font-family: 'Open Sans',sans-serif;
  color: #111111;
  background-color: #ffffff;
  --effect-scale: 1.1;
}

.u-sheet {
  position: relative;
  margin: 0 auto;
}

.u-image {
  object-fit: cover;
  display: block;
  vertical-align: middle;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.u-layout-col,
.u-layout-row {
  display: flex;
}

.u-layout-row {
  flex-direction: row;
  flex-wrap: wrap;
  min-height: fit-content;
  max-width: 100%;
}

.u-layout-col {
  margin: 0 150px;
  flex-direction: column;
  min-height: fit-content;
}

.u-layout-row > .u-size-30 {
  flex: 0 0 50%;
  max-width: 50%;
  min-width: 50%;
}
.u-layout-row > .u-size-45 {
  flex: 0 0 75%;
  max-width: 75%;
  min-width: 75%;
}
.u-layout-col > .u-size-45 {
  flex: 45 0 auto;
}
.u-layout-row > .u-size-60 {
  flex: 0 0 100%;
  max-width: 100%;
  min-width: 100%;
}

.u-container-layout {
  position: relative;
  flex: 1;
  max-width: 100%;
  transition-duration: inherit;
}

.u-section-1 .u-image-1 {
  background-image: url("images/me.jpeg");
  height: 500px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  width: 471px;
  min-height: 418px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  word-wrap: break-word;
  position: relative;
  display: table;
  align-self: flex-start;
  font-size: 3rem;
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 span {
  font-size: 20px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 196px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 77px;
  min-height: 16px;
  width: 529px;
  min-width: 224px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 30px auto 0;
}

.u-social-icons {
  display: flex;
}
.u-social-url {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: none;
  border: 0 none transparent;
  outline-width: 0;
  background-color: transparent;
  margin: 0;
}
.u-social-icons .u-icon {
  display: flex;
  height: 100% !important;
}

.u-social-icons a {
  height: 100%;
  display: inline-block;
  flex: 1;
}

.u-icon:hover {
  opacity: 55%;
  transition: all 0.4s;
}